@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {

  /* Set the page orientation and adjust the table width/height */
  body {
    transform: rotate(-90deg);
    transform-origin: top left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100vh;
    height: 100%;
  }

  section {
    width: 100vh;
    height: 100vw;
  }

  table {
    width: 100%;
    /* The table should take up full height of the page when printed */
    height: 100%;
    page-break-after: always;
  }

  /* Adjust fonts for print */
  th,
  td {
    font-size: 14px;
    padding: 6px;
  }

  /* Optional: Style the table rows for better readability */
  th {
    background-color: #e2e8f0;
    color: #1a202c;
  }

  tr:nth-child(even) {
    background-color: #f7fafc;
  }
}